.signIn_registration_component{
    padding: 0vw 5vw;
}

.signIn_registration_component .forms_comp{
    background-image: url('../../shared/photo/forRegisterphoto/registerPerson.jpg');
    background-size: 44%; 
    background-repeat: no-repeat; 
    display: flex; 
    flex-direction: column; 
    justify-content: left; 
    position: relative; 
}

@media (max-width: 768px) {
    .signIn_registration_component .forms_comp{
        height: 40vh;
        background-image: none;
        display: flex;
        flex-direction: column; 
        justify-content: left; 
        position: relative; 
    }
    .element_forms{
        margin-top: 5vh;
    
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .signIn_registration_component .forms_comp{
        background-image: url('../../shared/photo/forRegisterphoto/registerPerson.jpg');
        background-size: 54%; 
        background-repeat: no-repeat; 
        display: flex; 
        flex-direction: column; 
        justify-content: left; 
        position: relative; 
    }
}
