.contact-button{
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
    font-family: 'gta';
}

button{
    align-items: center;
    width: 35%;
    height: 6vh;
    font-weight: 545;
    font-size: 1rem;
    font-family: gta; 
}


.contact-button:active {
    transform: scale(0.95); 
}



@media (max-width: 768px) {
    .contact-button{
        border-radius: 20px;
        align-items: center;
    }

    button{
        width: 50%;
        height: 5vh;
        font-weight: 545;
        font-size: 0.85rem;
    }
}

@media (max-width: 486px){
    button{
        width: 40%;
        height: 4vh;
        font-weight: 545;
        font-size: 0.85rem;
    }
}
