.filter-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .filter-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .filter-content h2{
    align-items: center;
    text-align: center;
  }
  
  .filter-field {
    margin-bottom: 15px;
  }
  
  .filter-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .filter-field select,
  .filter-field input {
    width: 98%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
