.services_component {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%; 
    font-size: 1.1rem;
    margin: 5vh 0 5vh 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
    border-radius: 10px;
}
  
.service_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border:1px solid #b8b8b8;
    border-radius: 8px;
}
 

.service_item a {
    display: flex;
    align-items: center;
    gap: 8px; 
    text-decoration: none;
    color: #928F8F;
}

.service_item:hover {
    border-color: #EE5300; 
    background: #f7eac7; 
}
  
.service_item:hover a {
    color: #EE5300; 
}

@media (max-width: 768px) {
    .services_component {
        grid-template-columns: repeat(2, 1fr); 
    }
    .service_item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 2px;
        border:1px solid #a7a7a7;
        border-radius: 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .services_component {
        grid-template-columns: repeat(1, 1fr); 
    }
}