.notification_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 26vw;
    border:1px solid #EE5300;
}
.emblem_done{
    color:#EE5300;
}

.text_item p{
    font-size: 0.9rem;
}

@media (max-width: 486px) {
    .notification_item{
        display: none;
    }
}

@media (min-width: 486px) and (max-width: 768px) {
    .text_item p{
        font-size: 0.6rem;
    }
}
