.place_for_tasks {
    padding: 0vw 5vw;
}

.image-container {
    position: relative;
    display: block;
    overflow: hidden; /* Добавлено для предотвращения выхода изображения за пределы */
}

.service-image {
    width: 100%; 
    height: auto; 
    max-height: 60vh; /* Установите максимальную высоту для больших экранов */
    object-fit: cover; /* Позволяет сохранить пропорции изображения */
    display: block;
}

.subcategories_item {
    padding: 0 5vw;
    /* width: 100%; */
    overflow: hidden;
}

.service-title {
    position: absolute; 
    left: 5vw; 
    font-size: 2rem;
    color: white;
    z-index: 10; 
    font-family: gta;
}

.task_links {
    position: absolute;
    top: 2vh; 
    margin: 5vw;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    gap: 0.9vw;
}

.task-link {
    padding: 10px; 
    text-align: start; 
    color: rgb(231, 231, 231) !important; 
    text-decoration: none; 
    transition: color 0.3s;
    font-size: 1.2rem; 
    font-family: gta;
}

.task-link:hover {
    color: #857b57 !important; 
    font-weight: bold;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .service-image {
        height: auto; /* Убедитесь, что высота автоматически подстраивается */
    }
    
    .service-title {
        font-size: 1.1rem;
    }

    .task_links {
        top: 3vh; 
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center;
        gap: 0.1vw;
    }
    
    .task-link {
        font-size: 0.7rem; 
    }
}

/* Дополнительные медиа-запросы */
@media (max-width: 560px) {
    .service-image {
        height: 60vh; /* Настройте высоту для меньших экранов */
    }
}

@media (max-width: 380px) {
    .service-image {
        height: 75vh;
    }
    
    .service-title {
        font-size: 1.1rem;
    }
}