.findTask_component{
    padding: 0  5vw ;
}
.find_task_item{
    background-image: url('../../shared/assets/photo/findTaskPhoto/findTask.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.find_task_item::before{
    content:'';
    position: absolute;top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; 
}

.find_task_item > * {
    position: relative; 
    z-index: 2; 
}

.place_for_find_task{
    padding-top: 10vh;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.place_for_find_task h1{
    font-size: 2.5rem;
    color:rgba(215, 201, 164)
}

.tasks h3{
    font-size: 1.2rem;
    color:#7d6f49;
    border-bottom: 1px solid currentColor;
}
.tasks p{
    font-size: 1.2rem;
    margin-left: 2vw;
}

.task_item_border {
    width: 100%;
    border: 1px solid #7d6f49;
    margin: 1vw 0;
    display: flex;
    padding-left: 3vw;
    position: relative; 
    padding-bottom: 1vh; 
    
}

.response_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px; 
}

.all_tasks{
    margin-right: 3vw;
}

@media (max-width: 768px) {
    .place_for_find_task h1{
        font-size: 2rem;
        color:rgba(215, 201, 164)
    }

    .find_task_item{
        height: 50vh;
        padding: 0 10px;
    }
    .place_for_find_task{
        padding-top: 10vh;
        display:block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .task_item_border {
        flex-direction: column;
        gap: 1vh;
        padding: 0vw 1vw 0vw 1vw;
    }
    .tasks p {
        padding:0 3vw 0 3vw;
    }
    .response_button {
        position: static;
        display: inline;
        /* align-items: center; */
        /* text-align: center; */
        width: 100%;
        margin-top: 5px;
    }
    .tasks h3{
        font-size: 0.9rem;
    }
    .tasks p {
        font-size: 0.9rem;
    }
}
