.userChat{
    margin: 3vh 5vw;
    padding: 2vh 5vw;
    background-color: rgb(252, 245, 245);
    height: 100vh;
    border-radius: 20px;
}

.menu_chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_and_name,
.menu_emblems{
    display: flex;
    align-items: center;
    text-align: center;
    gap:2vw;
    font-size: 1.2rem;
    font-weight: bold;
}