/* .userChat_component{
    background-image: url('../../shared//assets//photo');
} */

.userChat {
  margin: 3vh 20vw;
  padding: 2vh 5vw;
  background-color: rgb(252, 245, 245);
  height: 100vh;
  border-radius: 20px;
}

.menu_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_and_name,
.menu_emblems {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.dialog_container {
  display: flex;
  background-color: antiquewhite;
  margin-top: 2%;
  border-radius: 12px;
  padding: 10px;
}

.dialog_container:hover {
  display: flex;
  background-color: bisque;
  border-radius: 12px;
  cursor: pointer;
}

.user_photo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.user_nickName {
  margin-left: 25%;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user_message {
  margin-left: 25%;
  padding-top: 10px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
