.footer_component {
    background-color: white;
    padding: 0vw 5vw;
    font-family: gta;
}
.content_footer{
    padding: 2vh 0 0 0;
}

.help_link ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vh; 
    padding: 0;
    margin: 0;
    font-size:1rem;
    width: 100%;
}

.help_link ul a {
    list-style: none;
    width: 100%;
    text-align: center;
    color:rgb(92,91,91);
    text-decoration: none;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vh 0 0 0;
}
.text_footer p{
    color:rgb(92,91,91);
    font-size: 0.9rem;
}

.icons a{
    list-style: none;
    display: flex;
    gap:1vw;
    color:rgb(92,91,91);
}
.icons{
    display: flex;
    gap:1vw;
}

@media (max-width: 500px) {
    .help_link ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1vh; 
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .help_link ul a{
        font-size: 0.75rem;
    }
    .text_footer p{
        color:rgb(92,91,91);
        font-size: 0.7rem;
    }
}
/* 


@media (min-width: 800px) and (max-width: 1000px) {
    .help_link ul {
        font-size: 1.3rem;
    }
    .text_footer p{
        color:rgb(92,91,91);
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .help_link ul {
        font-size:0.85rem;
    }
} */
@media (max-width: 480px) {
    .help_link ul a{
        font-size:0.65rem;
    }
    .text_footer p{
        color:rgb(92,91,91);
        font-size: 0.55rem;
    }
}
