.contact-button{
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

button{
    width: 36%;
    height: 6vh;
    font-weight: 545;
    font-size: 1.1rem;
    font-family: gta;
}

.contact-button:active {
    transform: scale(0.95); 
}



@media (max-width: 768px) {
    .contact-button{
        border-radius: 20px;
        margin-right: 20px;
        
    }

    button{
        width: 70%;
        height: 5vh;
        font-weight: 545;
        font-size: 1rem;
    }
}