.contact-button{
    border-radius: 20px;
}

button{
    width: 20vw;
    height: 7vh;
    font-weight: 545;
    font-size: 1rem;
}

.contact-button:active {
    transform: scale(0.95); 
}



@media (max-width: 768px) {
    button{
        width: 40%;
        height: 6vh;
        font-weight: 545;
        font-size: 1rem;
    }
}