form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    font-family: gta;
    width: 30vw;
}

form h1{
    font-family: 'Pricedown';
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #ccc;
    margin: 1vw 0;
}

form span{
    color:gray;
    margin-bottom: 1vw;
    font-size: 1rem;
}
.recovery_form{
    display: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    form{
        width: 100%;
        height: 60vh;
    }
}
@media (min-width: 1023px) {
    .forms{
        margin-top: 10vh;
    } 

    form{
        height: 73vh;
    }
}

@media (max-width: 480px) {
    form span{
        width: 70%;
    }
    .forms{
        margin-top: 0.5vh;
    } 
    form{
        height: 60vh;
    }
}
