form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 30vw;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #ccc;
    margin: 1vw 0;
}

form span{
    color:gray;
    margin-bottom: 1vw;
    font-size: 1.2rem;
}
.recovery_form{
    display: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .forms span{
        font-size: 0.8rem;
    }
    .forms h1{
        font-size: 1.5rem;
    }
    form{
        width: 100%;
        height: 60vh;
    }
}
@media (min-width: 1023px) {
    .forms{
        margin-top: 10vh;
    } 

    form{
        height: 73vh;
    }
}

@media (max-width: 480px) {
    form span{
        width: 70%;
    }
    .forms{
        margin-top: 0.5vh;
    } 
    form{
        height: 60vh;
    }
}
